<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница книги</title>
</head>
<body>
<div>
    <p th:text="${book.get().getTitle() + ', ' + book.get().getAuthor() + ', ' + book.get().year}"></p>
</div>
<div>
    <a th:href="@{/books/{id}/edit(id=${book.get().getId()})}">Редактировать кингу</a>
    <br>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.get().getId()})}">
        <input type="submit" value="Удалить">
    </form>
</div>
</body>
</html>